[# th:each="attribute : ${table.attributes}"]
        if (map.containsKey("[(${attribute.name})]")) {
            builder.[(${attribute.attribute})]([(${table.javaClass})].[(${attribute.helper})].extractFromMap(map));
        }
[/]

