[# th:each="attribute : ${item.allAttributes}"]
        [(${attribute.javaType})] _[(${attribute.attribute})] = null;
        if (map.containsKey("[(${attribute.name})]")) {
            _[(${attribute.attribute})] = [(${item.name})].[(${attribute.helper})].extractFromMap(map);
        }
[/]
        var obj = new [(${item.name})]( [# th:insert="~{all-attributes-no-types}"][/] );