package [(${project.packageName})];

import software.amazon.awssdk.core.sync.RequestBody;
import software.amazon.awssdk.regions.Region;
import software.amazon.awssdk.services.dynamodb.DynamoDbClient;
import software.amazon.awssdk.services.dynamodb.model.*;
import software.amazon.awssdk.services.s3.S3Client;
import software.amazon.awssdk.services.s3.model.PutObjectRequest;
import software.amazon.awssdk.services.s3.presigner.S3Presigner;
import software.amazon.awssdk.services.s3.presigner.model.GetObjectPresignRequest;

import java.util.Map;

public class [(${project.factoryClass})] {

    private final DynamoDbClient client;

    public [(${project.factoryClass})](DynamoDbClient client) {
        this.client = client;
    }
[# th:each="item : ${project.allItems}"]
     public [(${item.name})] query[(${item.name})]([# th:each="attribute, iterStat : ${item.table.keyAttributes}"] [(${attribute.javaType})] [(${attribute.attribute})][(${iterStat.last}?'':',')][/] )
     {
        GetItemRequest getItemRequest = GetItemRequest.builder()
                                            .tableName("[(${item.table.name})]")
                                            .key(Map.of(
                                                "[(${item.table.partitionKey.name})]", AttributeValue.builder().[(${item.table.partitionKey.builder})]([(${item.table.partitionKey.attribute})]).build(),
                                                "[(${item.table.sortKey.name})]", AttributeValue.builder().[(${item.table.sortKey.builder})]([(${item.table.sortKey.attribute})]).build()
                                            ))
                                        .build();

        GetItemResponse result = client.getItem(getItemRequest);

        if (result.item().isEmpty()) {
            return null;
        }
        Map<String, AttributeValue> map = result.item();
[# th:each="attribute : ${item.allAttributes}"]
        [(${attribute.javaType})] _[(${attribute.attribute})] = null;
        if (map.containsKey("[(${attribute.name})]")) {
            _[(${attribute.attribute})] = map.get("[(${attribute.name})]").[(${attribute.builder})]();
        }
[/]
        return new [(${item.name})]([# th:each="attribute, iterStat : ${item.allAttributes}"] _[(${attribute.attribute})][(${iterStat.last}?'':',')][/] );
     }
[/]
}