package [(${project.packageName})];

import software.amazon.awssdk.services.dynamodb.DynamoDbClient;
import software.amazon.awssdk.services.dynamodb.model.*;

import java.util.*;
import java.util.concurrent.atomic.AtomicReference;
import java.util.stream.StreamSupport;
import java.util.function.Function;

import static [(${project.packageName})].lib.*;

public class [(${project.factoryClass})] {

    private final DynamoDbClient client;
[# th:each="table : ${project.tables}"]
    private final String [(${table.tableVar})];
[/]

    public [(${project.factoryClass})](DynamoDbClient client [# th:each="table, iterStat : ${project.unnamedTables}"], String [(${table.tableVar})][/]) {
        this.client = client;
[# th:each="table : ${project.unnamedTables}"]
        this.[(${table.tableVar})] = [(${table.tableVar})].intern();
[/]
[# th:each="table : ${project.namedTables}"]
        this.[(${table.tableVar})] = "[(${table.name})]";
[/]
    }
[# th:each="table : ${project.tables}"]
    private static [(${table.javaClass})] __construct[(${table.javaClass})](Map<String, AttributeValue> map) {
        [(${table.javaClass})].Builder builder = [(${table.javaClass})].builder();
        [# th:insert="~{construct-object}"][/]
        var obj = builder.build();
        return obj;
    }

    /**
      * Atomically puts an item or overwrite it.
      */
    public [(${table.javaClass})] put[(${table.javaClass})]( [# th:insert="~{all-attributes-types}"/], boolean atomic )
    {
        if ([(${table.partitionKey.attribute})] == null) {
            throw new NullPointerException("Partition key \"[(${table.partitionKey.name})]\" is null");
        }
        [# th:if="${table.hasSortKey}"]
        if ([(${table.sortKey.attribute})] == null) {
            throw new NullPointerException("Sort key \"[(${table.sortKey.name})]\" is null");
        }
        [/]

        Map<String, AttributeValue> map = new HashMap<>();
        [# th:insert="~{key}"][/]
[# th:each="attribute : ${table.attributes}"]
        if ([(${attribute.attribute})] != null) {
            [(${table.javaClass})].[(${attribute.helper})].contributeToMap(map, [(${attribute.attribute})]);
        }
[/]
        var builder = PutItemRequest.builder()
                            .tableName([(${table.tableVar})])
                            .item(map);
        if (atomic) {
            builder.conditionExpression("[(${table.putConditionExpression})]");
            builder.returnValuesOnConditionCheckFailure(ReturnValuesOnConditionCheckFailure.ALL_OLD);
        } else {
            builder.returnValues(ReturnValue.ALL_OLD);
        }

        try {
            var response = client.putItem(builder.build());
            if (response.hasAttributes() && !atomic) {
                map.putAll(response.attributes());
            }
            var obj = __construct[(${table.javaClass})](map);
            obj._setClient(client);
            obj._setTableName([(${table.tableVar})]);
            return obj;
        } catch (ConditionalCheckFailedException e) {
          if (e.hasItem() && atomic){
              var previousObject = __construct[(${table.javaClass})](e.item());
              previousObject._setClient(client);
              previousObject._setTableName([(${table.tableVar})]);
              return previousObject;
          } else {
              throw e;
          }
      }
    }

    public [(${table.javaClass})] put[(${table.javaClass})]([(${table.javaClass})] object, boolean atomic ) {
        return put[(${table.javaClass})](
[# th:each="attribute : ${table.attributes}"]
            object.[(${attribute.attribute})](),
[/]
        atomic);
    }

     public Optional<[(${table.javaClass})]> find[(${table.javaClass})]( [# th:insert="~{key-attributes-types}"][/] )
     {
        Map<String, AttributeValue> map = new HashMap<String, AttributeValue>();
        [# th:insert="~{key}"][/]

        GetItemRequest getItemRequest = GetItemRequest.builder()
                                            .tableName([(${table.tableVar})])
                                            .key(map)
                                        .build();

        GetItemResponse result = client.getItem(getItemRequest);

        if (result.item().isEmpty()) {
            return Optional.empty();
        }
        map = result.item();
        var obj = __construct[(${table.javaClass})](map);
        obj._setClient(client);
        obj._setTableName([(${table.tableVar})]);
        return Optional.of(obj);
     }

    public [(${table.javaClass})].Mutator mutator[(${table.javaClass})]([# th:insert="~{key-attributes-types}"][/]) {
        var obj = [(${table.javaClass})].builder()[# th:each="attribute : ${table.keyAttributes}"].[(${attribute.attribute})]([(${attribute.attribute})])[/]
                .build();
        obj._setClient(client);
        obj._setTableName([(${table.tableVar})]);
        return obj.mutator();
    }

     public abstract class [(${table.javaClass})]Query {
        private final QueryRequest.Builder builder;
        protected final Map<String, Condition> keyConditions;
        protected final Map<String, Condition> queryFilter;

        private [(${table.javaClass})]Query() {
            this.builder = QueryRequest.builder();
            this.keyConditions = new LinkedHashMap<>();
            this.queryFilter = new LinkedHashMap<>();
        }

        private void _setTableName(String tableName) {
            this.builder.tableName(tableName);
        }

        private void _setIndexName(String indexName) {
            this.builder.indexName(indexName);
        }

        protected abstract Map<String, Condition> selectMapForAttribute(String attribute);

[# th:each="attribute : ${table.attributes}"]
        public lib.GenericQuery<[(${attribute.javaType})],[(${table.javaClass})]Query> [(${attribute.attribute})]() {
            return new lib.GenericQuery<>("[(${attribute.name})]", this, [(${table.javaClass})].[(${attribute.helper})], selectMapForAttribute("[(${attribute.name})]"));
        }
[/]
        public java.util.stream.Stream<[(${table.javaClass})]> execute() {
            if (!keyConditions.isEmpty()) {
                builder.keyConditions(keyConditions);
            }
            if (!queryFilter.isEmpty()) {
                builder.queryFilter(queryFilter);
            }
            var iterator = execute[(${table.javaClass})]Query(builder.build());
            var split = Spliterators.spliteratorUnknownSize(iterator, Spliterator.ORDERED | Spliterator.IMMUTABLE | Spliterator.NONNULL);
            return StreamSupport.stream(split, false);
        }
     }

[# th:each="index : ${table.indexDescriptors}"]
public [(${table.javaClass})]Query query[(${table.javaClass})]By[(${#strings.capitalizeWords(index.queryAttribute.attribute)})]([# th:if="${index.keyAttribute} != null"][(${index.keyAttribute.javaType})] [(${index.keyAttribute.attribute})][/]) {
        [(${table.javaClass})]Query query = new [(${table.javaClass})]Query(){

            @Override
            protected Map<String, Condition> selectMapForAttribute(String attribute) {
                return switch (attribute) {
                [# th:each="attribute : ${index.keyAttributes}"]
                    case "[(${attribute.name})]" -> keyConditions;
                [/]
                [# th:each="attribute : ${index.queryAttributes}"]
                    case "[(${attribute.name})]" -> queryFilter;
                [/]
                    default -> throw new IllegalArgumentException("Unknown attribute '" + attribute + "'");
                };
            }
        };
        query._setTableName([(${table.tableVar})]);
        [# th:if="${index.indexName} != null"]
        query._setIndexName("[(${index.indexName})]");
        [/]
        [# th:if="${index.keyAttribute} != null"]
        query.[(${index.keyAttribute.attribute})]().eq([(${index.keyAttribute.attribute})]);
        [/]
        return query;
     }
[/]


     public java.util.stream.Stream<[(${table.javaClass})]> scanAll[(${table.javaClass})]() {
        var iterator = execute[(${table.javaClass})]Scan(ScanRequest.builder().tableName([(${table.tableVar})]).build());
        var split = Spliterators.spliteratorUnknownSize(iterator, Spliterator.ORDERED | Spliterator.IMMUTABLE | Spliterator.NONNULL);
        return StreamSupport.stream(split, false);
     }

     private Iterator<[(${table.javaClass})]> execute[(${table.javaClass})]Query(QueryRequest queryRequest){
        AtomicReference<QueryResponse> currentResponse = new AtomicReference<>(client.query(queryRequest));
        AtomicReference<Iterator<Map<String, AttributeValue>>> currentIterator = new AtomicReference<>(currentResponse.get().items().iterator());
        return new Iterator<>() {
            @Override
            public boolean hasNext() {
                if (currentIterator.get().hasNext()) {
                    return true;
                } else {
                    if (currentResponse.get().hasLastEvaluatedKey()) {
                        Map<String, AttributeValue> lastEvaluatedKey = currentResponse.get().lastEvaluatedKey();
                        QueryRequest copy = queryRequest.copy(builder -> builder.exclusiveStartKey(lastEvaluatedKey));
                        currentResponse.set(client.query(copy));
                        currentIterator.set(currentResponse.get().items().iterator());
                        return true;
                    } else {
                        return false;
                    }
                }
            }

            @Override
            public [(${table.javaClass})] next() {
                Map<String, AttributeValue> map = currentIterator.get().next();
                var obj = __construct[(${table.javaClass})](map);
                obj._setClient(client);
                obj._setTableName([(${table.tableVar})]);
                return obj;
            }
        };
     }

     private Iterator<[(${table.javaClass})]> execute[(${table.javaClass})]Scan(ScanRequest scanRequest) {
        AtomicReference<ScanResponse> currentResponse = new AtomicReference<>(client.scan(scanRequest));
        AtomicReference<Iterator<Map<String, AttributeValue>>> currentIterator = new AtomicReference<>(
                currentResponse.get().items().iterator());
        return new Iterator<>() {
            @Override
            public boolean hasNext() {
                if (currentIterator.get().hasNext()) {
                    return true;
                } else {
                    if (currentResponse.get().hasLastEvaluatedKey()) {
                        Map<String, AttributeValue> lastEvaluatedKey = currentResponse.get().lastEvaluatedKey();
                        ScanRequest copy = scanRequest.copy(builder -> builder.exclusiveStartKey(lastEvaluatedKey));
                        currentResponse.set(client.scan(copy));
                        currentIterator.set(currentResponse.get().items().iterator());
                        return true;
                    } else {
                        return false;
                    }
                }
            }

            @Override
            public [(${table.javaClass})] next() {
                Map<String, AttributeValue> map = currentIterator.get().next();
                var obj = __construct[(${table.javaClass})](map);
                obj._setClient(client);
                obj._setTableName([(${table.tableVar})]);
                return obj;
            }
        };
    }

    public void serialize[(${table.javaClass})](java.io.ObjectOutputStream oos, java.util.stream.Stream<[(${table.javaClass})]> stream) throws java.io.IOException {
        lib.writeStream(oos, stream, [(${table.javaClass})].class);
    }

    public java.util.stream.Stream<[(${table.javaClass})]> deserialize[(${table.javaClass})](java.io.ObjectInputStream ois) throws java.io.IOException {
        return lib.readStream(ois, [(${table.javaClass})].class).peek(obj -> {
            obj._setTableName([(${table.tableVar})]);
            obj._setClient(client);
        });
    }

[/]


}