package [(${project.packageName})];

import software.amazon.awssdk.services.dynamodb.DynamoDbClient;
import software.amazon.awssdk.services.dynamodb.model.*;

import java.util.*;
import java.util.concurrent.atomic.AtomicInteger;

import static [(${project.packageName})].lib.*;

public class [(${table.javaClass})] implements Comparable<[(${table.javaClass})]> {
[# th:each="attribute : ${table.attributes}"]
    private final [(${attribute.javaType})] [(${attribute.attribute})];
[/]
    private transient DynamoDbClient _client;

    [(${table.javaClass})](Builder b)
    {[# th:each="attribute : ${table.attributes}"]
        this.[(${attribute.attribute})] = b.[(${attribute.attribute})];[/]
    }
[# th:each="attribute : ${table.attributes}"]
    public [(${attribute.javaType})] [(${attribute.attribute})]() {
        return [(${attribute.attribute})];
    }

[/]

    void _setClient(DynamoDbClient client) {
        this._client = client;
    }

    public Mutator mutator() {
        var map = new HashMap<String, AttributeValue>();
        [# th:insert="~{key}"][/];
        return new Mutator(_client, map);
    }

    public static class Mutator {

        private final List<FieldMutator> mutators = new ArrayList<>();
        private final DynamoDbClient client;
        private final Map<String, AttributeValue> key;

        Mutator(DynamoDbClient client, Map<String, AttributeValue> key) {
            this.client = client;
            this.key = Map.copyOf(key);
        }

[# th:each="attribute : ${table.attributes}"]
        public [(${attribute.mutatorClass})] [(${attribute.attribute})]() {
            var mutator = new [(${attribute.mutatorClass})]("[(${attribute.name})]", this, [(${attribute.helper})]);
            mutators.add(mutator);
            return mutator;
        }
[/]

        public [(${table.javaClass})] commit() {
            AtomicInteger counter = new AtomicInteger();
            List<String> setExpressions = new ArrayList<>();
            List<String> removeExpressions = new ArrayList<>();
            Map<String, String> expressionAttributeNames = new HashMap<>();
            Map<String, AttributeValue> expressionAttributeValues = new HashMap<>();
            for (var mutator : mutators) {
                mutator.appendUpdateExpression(counter, setExpressions, removeExpressions, expressionAttributeNames,
                        expressionAttributeValues);
            }
            StringBuilder updateExpression = new StringBuilder();
            if (!setExpressions.isEmpty()) {
                updateExpression.append("SET ") ;
                updateExpression.append(String.join(",", setExpressions));
                updateExpression.append(" ");
            }
            if (!removeExpressions.isEmpty()){
                updateExpression.append("REMOVE ") ;
                updateExpression.append(String.join(",", removeExpressions));
                updateExpression.append(" ");
            }
            var updateItemRequestBuilder = UpdateItemRequest.builder()
                    .key(key)
                    .tableName("[(${table.name})]")
                    .updateExpression(updateExpression.toString())
                    .expressionAttributeNames(expressionAttributeNames)
                    .returnValues(ReturnValue.ALL_NEW);
              if (!expressionAttributeValues.isEmpty()){
                updateItemRequestBuilder.expressionAttributeValues(expressionAttributeValues);
              }
              UpdateItemResponse response = client.updateItem(updateItemRequestBuilder.build());
              Map<String, AttributeValue> map = response.attributes();
              [(${table.javaClass})].Builder builder = [(${table.javaClass})].builder();
[# th:insert="~{construct-object}"][/]
              var obj = builder.build();
              obj._setClient(client);
              return obj;
        }

        public void delete() {
            DeleteItemRequest request = DeleteItemRequest.builder().tableName("[(${table.name})]").key(key).build();
            var response = client.deleteItem(request);
        }
    }

    @Override
    public boolean equals(Object o) {
        if (o == null || getClass() != o.getClass()) return false;
        if (o == this) return true;
        [(${table.javaClass})] other = ([(${table.javaClass})]) o;
        return [# th:each="attribute, iterStat : ${table.attributes}"]Objects.equals([(${attribute.attribute})], other.[(${attribute.attribute})]) [(${iterStat.last}?'':'&& ')][/];
    }

    @Override
    public int hashCode() {
        return Objects.hash([# th:insert="~{all-attributes-no-types}"/]);
    }

    @Override
    public int compareTo([(${table.javaClass})] o) {
        int c;
[# th:each="attribute : ${table.sortAttributes}"]
        if (this.[(${attribute.attribute})] == null && o.[(${attribute.attribute})]==null) return 0;
        if (this.[(${attribute.attribute})] == null) return 1;
        if (o.[(${attribute.attribute})] == null) return -1;
        if (( c = this.[(${attribute.attribute})].compareTo(o.[(${attribute.attribute})]))!=0) {
            return c;
        }
[/]
        return 0;
    }

    @Override
    public String toString() {
        final StringBuilder sb = new StringBuilder("[(${table.javaClass})]{");
[# th:each="attribute, iterStat : ${table.attributes}"]
        sb.append("[(${iterStat.first}?'':', ')][(${attribute.attribute})]='").append([(${attribute.attribute})]).append('\'');
[/]
        sb.append('}');
        return sb.toString();
    }


[# th:each="attribute : ${table.attributes}"]
    static final lib.AttributeHelper<[(${attribute.javaType})]> [(${attribute.helper})] = new lib.[(${attribute.helperClass})]("[(${attribute.name})]");
[/]

    public static Builder builder() { return new Builder(); }

    public static final class Builder {
[# th:each="attribute : ${table.attributes}"]
        private [(${attribute.javaType})] [(${attribute.attribute})];
[/]
        private Builder() {}
[# th:each="attribute : ${table.attributes}"]
        public Builder [(${attribute.attribute})]([(${attribute.javaType})] [(${attribute.attribute})]) {
            this.[(${attribute.attribute})] = [(${attribute.attribute})];
            return this;
        }
[/]
        public [(${table.javaClass})] build() {
            return new [(${table.javaClass})](this);
        }
    }

}