Map.of(
  "[(${item.table.partitionKey.name})]", AttributeValue.builder().[(${item.table.partitionKey.builder})]([(${item.table.partitionKey.converter})]([(${item.table.partitionKey.attribute})])).build(),
  "[(${item.table.sortKey.name})]", AttributeValue.builder().[(${item.table.sortKey.builder})]([(${item.table.sortKey.attribute})]).build()
)