Map.of(
  "[(${item.table.partitionKey.name})]", AttributeValue.builder().[(${item.table.partitionKey.builder})](__[(${item.table.partitionKey.converter})]([(${item.table.partitionKey.attribute})])).build(),
  "[(${item.table.sortKey.name})]", AttributeValue.builder().[(${item.table.sortKey.builder})](__[(${item.table.sortKey.converter})]([(${item.table.sortKey.attribute})])).build()
)