package [(${project.packageName})];

import software.amazon.awssdk.services.dynamodb.DynamoDbClient;
import software.amazon.awssdk.services.dynamodb.model.*;

import java.util.Map;
import java.util.HashMap;
import java.util.Optional;
import java.util.function.BiFunction;

class lib {

    static String __n(Long val) {
        return Long.toString(val);
    }

    static Long __nx(String val) {
        return Long.parseLong(val);
    }

    static String __s(String val) {
        return val;
    }

    static String __sx(String val) {
        return val;
    }

    public static class GenericMutator<T, P> extends lib.FieldMutator {

        private final String attribute;
        private final P parent;
        private final BiFunction<AttributeValue.Builder, T, AttributeValue.Builder> converter;
        private boolean delete = false;
        private T value;

        GenericMutator(String attribute, P parent, BiFunction<AttributeValue.Builder, T, AttributeValue.Builder> converter) {
            this.parent = parent;
            this.attribute = attribute;
            this.converter = converter;
        }

        public P setValue(T value) {
            this.value = value;
            return parent;
        }

        public P delete() {
            this.delete = true;
            return parent;
        }

        @Override
        void accept(Map<String, AttributeValueUpdate> updatedValues) {
            if (delete) {
                updatedValues.put(attribute, AttributeValueUpdate.builder().action(AttributeAction.DELETE).build());
            } else {
                var builder = AttributeValue.builder();
                builder = converter.apply(builder, value);
                updatedValues.put(attribute, AttributeValueUpdate.builder()
                        .value(builder.build()).action(AttributeAction.PUT).build());
            }
        }
    }

    public static class StringFieldMutator extends lib.FieldMutator {
        private final String attribute;
        private final GameScore.Mutator parent;
        private boolean delete = false;
        private String value;

        public StringFieldMutator(String dynamoAttribute, GameScore.Mutator parent) {
            this.attribute = dynamoAttribute;
            this.parent = parent;
        }

        public GameScore.Mutator setValue(String value) {
            this.value = value;
            return parent;
        }

        public GameScore.Mutator delete() {
            this.delete = true;
            return parent;
        }

        @Override
        void accept(Map<String, AttributeValueUpdate> updatedValues) {
            if (delete) {
                updatedValues.put(attribute, AttributeValueUpdate.builder()
                        .action(AttributeAction.DELETE)
                        .build());
            } else {
                updatedValues.put(attribute, AttributeValueUpdate.builder()
                        .value(AttributeValue.builder().s(value).build())
                        .action(AttributeAction.PUT)
                        .build());
            }
        }
    }

    abstract static class FieldMutator {
        abstract void accept(Map<String, AttributeValueUpdate> updatedValues);
    }
}