package [(${project.packageName})];

import software.amazon.awssdk.services.dynamodb.model.AttributeAction;
import software.amazon.awssdk.services.dynamodb.model.AttributeValue;
import software.amazon.awssdk.services.dynamodb.model.AttributeValueUpdate;

import java.util.Map;

class lib {

    interface AttributeHelper<T> {
        String attributeName();

        default void contributeToMap(Map<String, AttributeValue> map, T value) {
            map.put(attributeName(), build(AttributeValue.builder(), value).build());
        }

        default T extractFromMap(Map<String, AttributeValue> map) {
            return extract(map.get(attributeName()));
        }

        AttributeValue.Builder build(AttributeValue.Builder builder, T value);

        T extract(AttributeValue value);
    }

    static abstract class BaseAttributeHelper<T> implements AttributeHelper<T> {
        private final String attributeName;

        BaseAttributeHelper(String attributeName) {
            this.attributeName = attributeName;
        }

        @Override
        public final String attributeName() {
            return attributeName;
        }
    }

    static class StringAttributeHelper extends BaseAttributeHelper<String> {

        public StringAttributeHelper(String attributeName) {
            super(attributeName);
        }

        @Override
        public AttributeValue.Builder build(AttributeValue.Builder builder, String value) {
            return builder.s(value);
        }

        @Override
        public String extract(AttributeValue value) {
            return value.s();
        }
    }

    static class LongAttributeHelper extends BaseAttributeHelper<Long> {

        public LongAttributeHelper(String attributeName) {
            super(attributeName);
        }

        @Override
        public AttributeValue.Builder build(AttributeValue.Builder builder, Long value) {
            return builder.n(Long.toString(value));
        }

        @Override
        public Long extract(AttributeValue value) {
            return Long.parseLong(value.n());
        }
    }

    static class IntegerAttributeHelper extends BaseAttributeHelper<Integer> {

        public IntegerAttributeHelper(String attributeName) {
            super(attributeName);
        }

        @Override
        public AttributeValue.Builder build(AttributeValue.Builder builder, Integer value) {
            return builder.n(Integer.toString(value));
        }

        @Override
        public Integer extract(AttributeValue value) {
            return Integer.parseInt(value.n());
        }
    }

    public static class GenericMutator<T, P> extends lib.FieldMutator {

        private final String attribute;
        private final P parent;
        private final AttributeHelper<T> helper;
        private boolean delete = false;
        private T value;

        GenericMutator(String attribute, P parent, AttributeHelper<T> helper) {
            this.parent = parent;
            this.attribute = attribute;
            this.helper = helper;
        }

        public P setValue(T value) {
            this.value = value;
            return parent;
        }

        public P delete() {
            this.delete = true;
            return parent;
        }

        @Override
        void accept(Map<String, AttributeValueUpdate> updatedValues) {
            if (delete) {
                updatedValues.put(attribute, AttributeValueUpdate.builder().action(AttributeAction.DELETE).build());
            } else {
                AttributeValue.Builder builder = AttributeValue.builder();
                builder = helper.build(builder, value);
                updatedValues.put(attribute,
                        AttributeValueUpdate.builder().value(builder.build()).action(AttributeAction.PUT).build());
            }
        }
    }

    public static class StringFieldMutator extends lib.FieldMutator {
        private final String attribute;
        private final GameScore.Mutator parent;
        private boolean delete = false;
        private String value;

        public StringFieldMutator(String dynamoAttribute, GameScore.Mutator parent) {
            this.attribute = dynamoAttribute;
            this.parent = parent;
        }

        public GameScore.Mutator setValue(String value) {
            this.value = value;
            return parent;
        }

        public GameScore.Mutator delete() {
            this.delete = true;
            return parent;
        }

        @Override
        void accept(Map<String, AttributeValueUpdate> updatedValues) {
            if (delete) {
                updatedValues.put(attribute, AttributeValueUpdate.builder().action(AttributeAction.DELETE).build());
            } else {
                updatedValues.put(attribute, AttributeValueUpdate.builder()
                        .value(AttributeValue.builder().s(value).build()).action(AttributeAction.PUT).build());
            }
        }
    }

    abstract static class FieldMutator {
        abstract void accept(Map<String, AttributeValueUpdate> updatedValues);
    }
}